---
import HeroShowreel from '../../components/HeroShowreel.astro'
import Navbar from '../../components/Navbar.astro'
import { projects } from '../../data/projects.js';
import About from '../../components/About.astro'


const { slug } = Astro.params;
const project = projects.find(p => p.slug === slug);

if (!project) throw new Error(`Project not found: ${slug}`);

export async function getStaticPaths() {
  return projects.map(p => ({ params: { slug: p.slug } }));
}
---

<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{project.title}</title>
    <style>
      body {
        background:#0d0d0d;
        color:white;
        font-family:Arial, sans-serif;
        margin:0;
        padding:2rem;
      }
      h1 { text-align:center; margin-bottom:2rem; }
      .content { max-width:900px; margin:auto; text-align:center; }
      iframe, img {
        width:100%;
        max-width:900px;
        aspect-ratio:16/9;
        display:block;
        margin:auto;
      }
      p { line-height:1.6; margin-top:1rem; }
    </style>
  </head>
  <body>
    <Navbar />
    <h1>{project.title}</h1>

      {project.video ? (        
        <HeroShowreel youtubeID={project.video}/>
      ) : (
        <img src={project.image} alt={project.title} />
      )}
    <div class="content">

    {project.description.map(line => {

    if(
    line === "Problem" ||
    line === "Approach" ||
    line === "Technical Highlights" ||
    line === "Impact"
    ){
    return <h3>{line}</h3>
    }

    if(line.startsWith("-")){
    return <li>{line.replace("- ","")}</li>
    }

    return <p>{line}</p>

    })}

    </div>
    <About />

  
  </body>
</html>


<style>

.content h3{
  font-size:1.4rem;
  margin-top:2rem;
  margin-bottom:0.5rem;
  text-align:left;
}

.content p{
  font-size:1rem;
  line-height:1.6;
  color:#ddd;
  text-align:left;
}

.content li{
  margin-left:20px;
  margin-bottom:6px;
  text-align:left;
}

.content ul{
  padding-left:20px;
}



</style>
